.header{
  height: 60px;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  height: 45px;
  width: 150px;
  background: url("../images/logo.png") no-repeat;
  background-size: contain;
}